{% extends "admin/base.html.twig" %}

{% block title %}Modification d'une équipe{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-5">Modification d'une équipe</h1>

    </div>
{% endblock %}