<turbo-stream action="remove" target="row_player_{{ playerId }}"></turbo-stream>
<turbo-stream action="append" target="streamflash">
    <template>
        <div class="alert alert-success">{{ message }}</div>
    </template>
</turbo-stream>
